/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(198, 189, 189, 0.35);
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(7, 1, 17);
    border-radius: 10px;
}

.screen.standard-dark {
    --bg: #181F33;
    --color: azure;
}

.screen.standard-light {
    --bg: #eee;
    --color: #36362C;
}

.screen.dracula {
    --bg: #1E0936;
    --color: #FFE53D;
}

.screen {
    background: var(--bg);
    border-radius: 10px;
    margin: 32px 0 24px 0;
    overflow-x: auto;
    transition: background-color .33s;
}

.screen p {
    color: var(--color);
    font-family: spartan;
    font-size: 56px;
    line-height: 52px;
    letter-spacing: -1px;
    min-width: max-content;
    width: 100%;
    padding: 40px 32px 36px 32px;
    text-align: end;
    transition: color .33s;
}

@media screen and (max-width: 600px) {
    .screen p {
        font-size: 40px;
        line-height: 37px;
        letter-spacing: -.7px;
        padding: 30px 24px 22px 24px;
    }
}